* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brow: #59291c;
  --white: #ffffff;
  --yellow:#faaf18;
  --bege: #f5ece7;
  --orange:#ed7902;
  --Azul: #475993;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 121.9rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  width: 100%;
  height: 9rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  align-items: center;
  gap: 7rem;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 7.7rem;
}
header nav ul li a {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
header nav ul li a:hover span {
  color: var(--orange);
}
header nav ul li a span {
  color: #59291c;
  font-family: "Ubunto", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  transition: color 0.3s ease;
}

.s-hero {
  width: 100%;
  height: 62.3rem;
  background: linear-gradient(164deg, rgba(239, 225, 218, 0) 3.82%, #EFE1DA 90.95%);
}
.s-hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.s-hero .left-container {
  padding: 12rem;
  flex: 1;
  max-width: 52.7rem;
}
.s-hero .left-container h3 {
  color: var(--yellow);
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
  display: flex;
  align-items: center;
  gap: 3.7rem;
}
.s-hero .left-container h3::after {
  content: "";
  flex: 1;
  max-width: 29rem;
  height: 2px;
  background: url("../img/line.svg") no-repeat center center;
  display: inline-block;
}
.s-hero .left-container .value {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 3.7rem;
}
.s-hero .left-container .value h2 {
  color: var(--yellow);
  font-family: "Ubuntu", sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.s-hero .left-container .value span {
  color: var(--brow);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: -0.371px;
}
.s-hero .left-container .value button {
  padding: 2.2rem 5.2rem;
  background-color: var(--brow);
  border-radius: 6px;
  box-shadow: 0px 10px 40px 0px rgba(89, 41, 28, 0.6);
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  animation: pulse 2s infinite;
}
.s-hero .right-container {
  position: relative;
  flex: 1;
  max-width: 52.8rem;
  height: 66.3rem;
  background-color: var(--yellow);
  border-radius: 0px 0px 12px 12px;
  padding-top: 9.5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}
.s-hero .right-container .image {
  position: absolute;
  width: 68.4rem;
  height: 49.2rem;
}
.s-hero .right-container .image img {
  position: absolute;
}
.s-hero .right-container .image img.refri {
  top: 2.5rem;
  left: 0;
  z-index: 1;
  animation: fadeLeft 1s forwards;
}
.s-hero .right-container .image img.fritas {
  top: 0;
  right: 0;
  z-index: 1;
  animation: fadeRight 1s forwards;
}
.s-hero .right-container .image img.lanche {
  z-index: 2;
  left: 5.2rem;
  bottom: 0;
  animation: fadeUp 1s forwards;
}
.s-hero .right-container .image img.logo {
  bottom: 6px;
  right: 10px;
  z-index: 3;
  opacity: 0;
  animation: zoomIn 1s 0.5s forwards;
}
.s-hero .right-container .offer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.s-hero .right-container .offer:before {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url(../img/line-left.svg) no-repeat center center;
  display: inline-block;
}
.s-hero .right-container .offer:after {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url(../img/line-right.svg) no-repeat center center;
  display: inline-block;
}
.s-hero .right-container p {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
}
.s-hero .right-container p img {
  margin-right: 1.6rem;
}
.s-hero .right-container p strong {
  margin-left: 0.5rem;
}

.s-offer {
  width: 100%;
  height: 20rem;
  background: url(../img/bg-login.png);
  padding: 4.7rem;
  padding-bottom: 3.2rem;
  display: flex;
  align-items: flex-end;
}
.s-offer .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.s-offer .left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.1rem;
  flex: 1;
  max-width: 59.7rem;
}
.s-offer .left-container h3 {
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.401px;
  margin-bottom: 5px;
}
.s-offer .left-container h2 {
  color: var(--brow);
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -0.652px;
}
.s-offer button {
  flex: 1;
  border-radius: 12px;
  background-color: var(--white);
  margin-right: 3rem;
  max-width: 52.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.9rem;
  padding: 3rem 0;
  transition: background-color 0.3s ease;
}
.s-offer button:hover {
  background-color: var(--bege);
}
.s-offer button span {
  color: var(--Azul);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.301px;
}

.s_combos {
  padding: 7rem 0;
}
.s_combos .highlights {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.2rem;
}
.s_combos .highlights > .box {
  width: 263px !important;
  background-color: var(--yellow) !important;
}
.s_combos .highlights .box {
  border-radius: 12px;
  background-color: var(--bege);
  width: 21.8rem;
  height: 14.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  transition: all 0.3s ease;
}
.s_combos .highlights .box h3 {
  color: #FFF;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.301px;
  text-transform: uppercase;
}
.s_combos .highlights ul {
  flex: 1;
  max-width: 92.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.6rem;
}
.s_combos .highlights ul li .box:hover {
  background-color: var(--brow);
  box-shadow: 0px 10px 40px 0px rgba(89, 41, 28, 0.68);
}

.slide-combos {
  overflow: hidden;
}
.slide-combos .card-combo {
  width: 100%;
  height: 49.3rem;
  background-color: var(--bege);
  border-radius: 6px;
  overflow: hidden;
}
.slide-combos .card-combo:hover > img {
  transform: scale(1.1);
}
.slide-combos .card-combo .image {
  position: relative;
  width: 100%;
  height: 34rem;
  overflow: hidden;
  border-bottom: 3px dotted var(--white);
}
.slide-combos .card-combo .image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-combos .card-combo .image button {
  position: absolute;
  top: 2.5rem;
  right: 2.6rem;
  z-index: 2;
  width: 3.8rem;
  height: 3.8rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-combos .card-combo .info {
  padding: 3.6rem 4.4rem;
  padding-left: 4.4rem;
}
.slide-combos .card-combo .info strong {
  color: var(--brow);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.201px;
  margin-bottom: 1.4rem;
  display: block;
}
.slide-combos .card-combo .info h3 {
  color: var(--orange);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 1.477px;
  text-transform: uppercase;
}

.ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.7rem;
  /*button {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      span{
         color: var(--yellow);
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 1.4rem;
         font-weight: bold;
         letter-spacing: -0.176px;
         text-transform: uppercase;
      }
   }*/
}
.ctrl .swiper-pagination {
  position: relative;
  bottom: 0;
  width: auto;
}

footer .main-area {
  background-color: var(--brow);
  padding-top: 4.9rem;
  padding-bottom: 4.4rem;
}
footer .main-area .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .main-area .container > ul {
  gap: 3.5rem;
}
footer .main-area ul {
  display: flex;
  align-items: center;
}
footer .main-area ul li a {
  color: var(--bege);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -0.429px;
  transition: color 0.3s ease;
}
footer .main-area ul li a:hover {
  color: var(--yellow);
}
footer .main-area .logo {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
footer .main-area .social {
  display: flex;
  align-items: center;
  gap: 3.1rem;
}
footer .main-area .social span {
  color: var(--white);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -0.429px;
}
footer .main-area .social ul {
  gap: 2.3rem;
}
footer .main-area .social ul li a {
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--brow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
footer .main-area .social ul li a:hover {
  background-color: var(--orange);
}
footer .copy {
  background-color: #59291c;
  padding: 1.4rem 0;
  text-align: center;
}
footer .copy p {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 23px;
  letter-spacing: -0.4px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeUp {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */